.Modal {
    position: fixed;
    z-index: 500;
    /* background-image: linear-gradient(to right bottom, #f6f6f6, #fff); */
    background-image: linear-gradient(to right bottom, #e6f2ff, #f6f6f6);
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    line-height: 1.5rem;
    color:#4d4d4d;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}